.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .datos aplicar a todo lo que este dentro de className="datos" hijos no nietos */
.datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

/* */
/* .datos input aplicar a los inputs que esten dentro de la className="datos" */
.datos input {
  /* --- ancho de los inputs */
  width: 300px;
  /* | largo de los inputs */
  height: 30px;
  /* tamaño de letra */
  font-size: 20px;
  padding-left: 10px;
  border-radius: 5px;
  margin: 5px;
}

/* */
/* .datos button aplicar a los buttons que esten dentro de la className="datos" */
.datos button {
  /* --- ancho de los buttons */
  width: 320px;
  /* | largo de los buttons */
  height: 50px;
  margin-top: 5px;
}